<!DOCTYPE html>
<html ng-app="MyService">
<head>
    <meta charset="UTF-8">
    <title>Demo Custom Service</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="bower_components/bower_components/angular/angular.min.js"></script>
    <script src="controllers/angularservice.js"></script>
</head>
<body ng-controller="MyController">
    <div>
        <p>
            <label for="val">Input Number</label>
            <input type="number" id="val" ng-model="val">
        </p>
        <p>
            {{result}}
        </p>
        <p>
           <button ng-click="calculateSquare(val)">Calculate Square</button>
           <button ng-click="calculateCircle(val)">Calculate Circle</button>
        </p>
    </div>
</body>
</html>