<!DOCTYPE html>
<html ng-app="MyDataService">
<head>
    <meta charset="UTF-8">
    <title>Demo $http get service</title>
    <link rel="stylesheet" href="css/simple.css">
    <script src="bower_components/bower_components/angular/angular.min.js"></script>
    <script src="controllers/httpgetservice.js"></script>
</head>
<body ng-controller="MyController">
    <h1>Demo $http get Service</h1>
    <br>
    <button ng-click="getAllUsers()">Get Data</button>
    <br>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
        </tr>
        </thead>
        <tbody ng-repeat="user in users">
            <tr ng-class="{even:$even, odd:$odd}">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.country}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>