<!DOCTYPE html>
<html ng-app="SimpleModule">
<head>
    <meta charset="UTF-8">
    <title>Simple Module</title>
    <script src="bower_components/bower_components/angular/angular.min.js"></script>
    <script src="controllers/simplemodule.js"></script>
</head>
<body ng-controller="MyController">
    <br>
    <p>
        <label for="valA"> Your A:</label>
        <input type="number" id="valA" ng-model="valA">
    </p>
    <p>
        <label for="valB"> Your A:</label>
        <input type="number" id="valB" ng-model="valB">
    </p>
    <p>
        Result: {{result}}
    </p>
    <p>
        <button ng-click="add(valA,valB)">Add</button>
        <button ng-click="multiple(valA,valB)">Multiple</button>
    </p>
</body>
</html>